{% extends 'polls/base.html' %}

{% block content %}
<div class="container" style="max-width: 900px; margin: 0 auto;">
    <h1 class="title has-text-centered">Move {{ name }} ({{ move_type }})</h1>
    
    <div class="box">
        <form action="http://127.0.0.1:8000/polls/{{ url }}/" method="post">
            {% csrf_token %}
            <input type="hidden" name="path" value="{{ path }}">
            
            <div class="field">
                <label class="label" for="target_folder">Select destination folder:</label>
                <div class="control">
                    <div class="select is-fullwidth">
                        <select name="target_folder" id="target_folder">
                            <option value="">{{ user.username }}</option>
                            {% for folder in folders %}
                                <option value="{{ folder.path }}">{{ folder.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>

            <div class="control">
                <button type="submit" class="button is-primary is-fullwidth">Move</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
