{% extends 'polls/base.html' %}

{% block content %}
<h1 class="title">Vos Fichiers</h1>
<table class="table is-fullwidth">
    <thead>
        <tr>
            <th>Name</th>
            <th>Size</th>
            <th>Upload Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for file in user_files %}
        <tr>
            <td>{{ file.name }}</td>
            <td>{{ file.size }} octets </td>
            <td>{{ file.upload_date }}</td>
            <td>
                <a class="button is-small is-info" href="{{ file.upload.url }}" download>Download</a>
                <a class="button is-small is-danger" href="{% url 'delete_file' file.id %}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce fichier ?');">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
