{% extends 'polls/base.html' %}

{% block content %}
<h1>Renommer le dossier</h1>

<form action="" method="post">
    {% csrf_token %}
    <div class="field">
        <label class="label" for="new_name">Nouveau nom :</label>
        <div class="control">
            <input class="input" type="text" id="new_name" name="new_name" placeholder="{{ old_name }}" required>
        </div>
    </div>
    <div class="control">
        <button class="button is-primary" type="submit">Renommer</button>
    </div>
</form>

<a href="{% url 'home' %}?path={{ current_path }}">Retour</a>
{% endblock %}
