{% extends 'polls/base.html' %}

{% block content %}
<h1 class="title">Storage statistcs</h1>

<h2 class="subtitle">Total storage usage</h2>
<p><strong>Total :</strong> {{ total_storage_usage|floatformat:2 }} octets</p>

<h2 class="subtitle">Distribution by file type</h2>
<table class="table is-fullwidth">
    <thead>
        <tr>
            <th>File type</th>
            <th>File number</th>
        </tr>
    </thead>
    <tbody>
        {% for item in file_count_by_type %}
        <tr>
            <td>{{ item.file }}</td>
            <td>{{ item.count }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h2 class="subtitle">Storage usage by month</h2>
<table class="table is-fullwidth">
    <thead>
        <tr>
            <th>Month</th>
            <th>Storage Usage (octets)</th>
        </tr>
    </thead>
    <tbody>
        {% for item in storage_usage_by_month %}
        <tr>
            <td>{{ item.month|date:"F Y" }}</td>
            <td>{{ item.total_size }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<canvas id="fileTypeChart" width="400" height="200"></canvas>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var fileTypeData = JSON.parse(document.getElementById('file-type-data').textContent);
        var fileTypeLabels = fileTypeData.map(item => item.file_type);
        var fileTypeCounts = fileTypeData.map(item => item.count);

        var ctx = document.getElementById('fileTypeChart').getContext('2d');
        new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: fileTypeLabels,
                datasets: [{
                    label: 'Nombre de fichiers',
                    data: fileTypeCounts,
                    backgroundColor: ['#FF6384', '#36A2EB', '#FFCE56', '#4BC0C0'],
                }]
            },
        });
    });
</script>

<canvas id="storageUsageChart" width="400" height="200"></canvas>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var storageUsageData = JSON.parse(document.getElementById('storage-usage-data').textContent);
        var storageLabels = storageUsageData.map(item => item.month);
        var storageData = storageUsageData.map(item => item.total_size);

        var ctx2 = document.getElementById('storageUsageChart').getContext('2d');
        new Chart(ctx2, {
            type: 'bar',
            data: {
                labels: storageLabels,
                datasets: [{
                    label: 'Utilisation de stockage (octets)',
                    data: storageData,
                    backgroundColor: '#36A2EB',
                }]
            },
        });
    });
</script>


{% endblock %}
